@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
}

.ck-editor__editable {
  min-height: 170px;
}

.mat-mdc-snack-bar-container.star-snackbar .mdc-snackbar__surface {
  background-color: #1F2937 !important;
}

.mat-mdc-snack-bar-container.star-snackbar .mdc-snackbar__label {
  color: #FFFFFF !important;
}

.mat-mdc-snack-bar-container.star-snackbar .mat-mdc-button {
  color: #FFC107 !important;
}

.mat-mdc-snack-bar-container.star-snackbar {
  display: flex; /* Usar flexbox para centralização */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: flex-end; /* Alinha na parte inferior */
  position: fixed; /* Fixa na tela */
  bottom: 20px; /* Distância do fundo */
  left: 0; /* Inicia no canto esquerdo */
  right: 0; /* Para se estender até o canto direito */
  z-index: 1000; /* Garante que a snackbar fique acima de outros elementos */
}

.mat-mdc-snack-bar-container.star-snackbar .mdc-snackbar__surface {
  background-color: #1F2937 !important; /* Cor de fundo */
  width: 80%; /* Largura da snackbar */
  max-width: 400px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza */
  padding: 10px; /* Ajusta o padding */
  border-radius: 8px; /* Define bordas arredondadas */
  color: white; /* Define a cor do texto */
}



.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 50;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #1f2937;
}
