@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.css ou src/styles.scss */

body {
  background-color: #F3F4F6; /* Define o fundo da página */
}

.ck-editor__editable {
  min-height: 170px;
}

/* Estilo para o conteúdo interno do snackbar */
.mat-mdc-snack-bar-container.star-snackbar .mdc-snackbar__surface {
  background-color: #1F2937 !important; /* Cor de fundo do conteúdo interno */
}

  .mat-mdc-snack-bar-container.star-snackbar .mat-mdc-button {
    color: #FFC107 !important;
  }
